<Alloy>
	<TableView id="container" class="container">
			<TableViewRow id="home" class="menuItem">
				<View class="rowContainer">
					<Label id="label1"/>
				</View>
			</TableViewRow>
			<TableViewRow id="map" class="menuItem" >
				<View class="rowContainer">
					<Label id="label2"/>
				</View>
			</TableViewRow>
			<TableViewRow id="camera" class="menuItem" >
				<View class="rowContainer">
					<Label id="label3"/>
				</View>
			</TableViewRow>
			<TableViewRow id="barcode" class="menuItem" >
				<View class="rowContainer">
					<Label id="label4"/>
				</View>
			</TableViewRow>
			<TableViewRow id="charts" class="menuItem" >
				<View class="rowContainer">
					<Label id="label5"/>
				</View>
			</TableViewRow>
			<TableViewRow id="calendar" class="menuItem" >
				<View class="rowContainer">
					<Label id="label6"/>
				</View>
			</TableViewRow>
			<TableViewRow id="encryption" class="menuItem" >
				<View class="rowContainer">
					<Label id="label7"/>
				</View>
			</TableViewRow>
			<TableViewRow id="pushnotifications" class="menuItem" >
				<View class="rowContainer">
					<Label id="label8"/>
				</View>
			</TableViewRow>
			<TableViewRow id="RemoteHtml" controller="fileViewer" class="menuItem" print="false" url="http://www.appcelerator.com" >
				<View class="rowContainer">
					<Label id="label9"/>
				</View>
			</TableViewRow>
			<TableViewRow id="localHtml" controller="fileViewer" class="menuItem" print="false" url="/html/index.html" >
				<View class="rowContainer">
					<Label id="label10"/>
				</View>
			</TableViewRow>
			<TableViewRow id="localPdf" controller="fileViewer" class="menuItem" print="true" url="/Data_Sheet.pdf" platform="ios" >
				<View class="rowContainer">
					<Label id="label11"/>
				</View>
			</TableViewRow>
			<TableViewRow id="jsPDF" class="menuItem">
				<View class="rowContainer">
					<Label id="label12"/>
				</View>
			</TableViewRow>
			
	</TableView>
</Alloy>