<Alloy>
	<TableView id="container" class="container">
			<TableViewRow id="home" class="menuItem" sepratorColor="transparent">
				<View class="rowContainer">
					<Label  text="Home"/>
				</View>
			</TableViewRow>
			<TableViewRow id="map" class="menuItem" >
				<View class="rowContainer">
					<Label  text="Map"/>
				</View>
			</TableViewRow>
			<TableViewRow id="camera" class="menuItem" >
				<View class="rowContainer">
					<Label  text="Camera & Photo"/>
				</View>
			</TableViewRow>
			<TableViewRow id="barcode" class="menuItem" >
				<View class="rowContainer">
					<Label  text="Barcode"/>
				</View>
			</TableViewRow>
			<TableViewRow id="charts" class="menuItem" >
				<View class="rowContainer">
					<Label  text="Charts"/>
				</View>
			</TableViewRow>
			<TableViewRow id="calendar" class="menuItem" >
				<View class="rowContainer">
					<Label  text="Calendar"/>
				</View>
			</TableViewRow>
			<TableViewRow id="encryption" class="menuItem" >
				<View class="rowContainer">
					<Label  text="Encryption"/>
				</View>
			</TableViewRow>
			<TableViewRow id="pushnotifications" class="menuItem" >
				<View class="rowContainer">
					<Label  text="Push Notifications"/>
				</View>
			</TableViewRow>
			<TableViewRow id="RemoteHtml" controller="fileViewer"  class="menuItem" print="false" url="http://www.appcelerator.com" >
				<View class="rowContainer">
					<Label  text="Remote HTML File"/>
				</View>
			</TableViewRow>
			<TableViewRow id="localHtml" controller="fileViewer"  class="menuItem" print="false" url="/html/index.html" >
				<View class="rowContainer">
					<Label  text="Local HTML File"/>
				</View>
			</TableViewRow>
			<TableViewRow id="localPdf" controller="fileViewer"  class="menuItem" print="true" url="/Data_Sheet.pdf" platform="ios" >
				<View class="rowContainer">
					<Label  text="Local PDF File"/>
				</View>
			</TableViewRow>
			<TableViewRow id="jsPDF" class="menuItem" platform="ios,android">
				<View class="rowContainer">
					<Label  text="Generate PDF File"/>
				</View>
			</TableViewRow>
	</TableView>
</Alloy>